#anchorpane {
    -fx-background-color: #353b48;
}

#split {
    -fx-background-color: #353b48;
}

#topBar {
     -fx-background-color: #2f3640;
}

#sidedrawervbox {
    -fx-background-color: #2f3640;
}

#sidedrawerlistview {
    -fx-background-color: #2f3640;
}

#settingsdrawerpane {
    -fx-background-color: #2f3640;
}

#stocksInfoPane {
    -fx-background-color: #353b48;
}

#scrollPaneForStockPane {
    -fx-background-color: #353b48;
}

#spacerPane{
    -fx-background-color: #2f3640;
}

.jfx-drawer-overlay-pane {
    -fx-background-color: #c0392b;
}

.jfx-toggle-button{
    -jfx-toggle-color: #c0392b;
    -jfx-toggle-line-color: #e74c3c;
}

.list-view {
    -fx-background-color: #2f3640;
}

.list-view .list-cell {
    -fx-background-color: #2f3640;
    -fx-text-fill: white;
}


.jfx-hamburger StackPane{
    -fx-background-color: #c0392b;
}

.list-view .list-cell:hover {
    -fx-background-color: #353b48;
}

.list-view .list-cell:selected {
    -fx-background-color: #353b48;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: #c0392b;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #ff931e;
}

.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}

.chart-title {
    -fx-text-fill: #ebe5e5;
}

.jfx-button {
    -fx-text-fill: #c0392b;
}
